<h1>Registrate</h1>

<%= form_with scope: :user, url: signin_path, local: true do |form| %>

  <p>
    <%= form.label :name, 'Nombre:' %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email, 'Correo electrónico:' %><br />
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password, 'Contraseña:' %><br />
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.submit 'Enviar' %>
  </p>

<% end %>

<%= link_to 'Regresar', login_path %>
